.main {
  padding: 2rem 0;

  @media (min-width: 767px) {
    padding: 4rem 0;
  }
}

.container {
  max-width: 1240px; /*максимальная ширина экрана*/
  width: 100%; /*ширина от максимальной ширины экрана*/
  margin: 0 auto; /*в моей случае, экран чуть шире чем 1240px, поэтому остается не закрашенный фон, а он выравнивает по центру*/
  padding: 0 2rem; /*rem зависит от font-size, в моей случае он - 16px, то есть 2rem - это 2 * 16px = 32px*/
}
