/* @import-normalize; */

* {
  box-sizing: border-box;
}

:root {
  /*Typography*/
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /*Other*/
  --radii: 0.5rem;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}

body[data-theme="dark"] {
  --colors-text: white;
  --colors-bg: rgb(91, 138, 156);
  --colors-ui-base: rgb(240, 145, 145);

  --shadow: 0px 8px 24px 17px rgba(253, 87, 87, 0.34);
}

body[data-theme="light"] {
  --colors-text: black;
  --colors-bg: rgb(154, 191, 224);
  --colors-ui-base: rgb(144, 235, 144);

  --shadow: 0px 8px 24px 17px rgba(34, 60, 80, 0.34);
}
